@font-face {
    font-family:DaFont ;
    src: url(SFUIDisplay-Regular.otf);
}
.bgmain{
    float:left;
}
.drop{
    text-align: center;
}
.drop button{
    
    font-size: 40px;
    width :90%;
    text-align: center;
    color :bisque;
    background-color: #2b0d41;
    cursor: pointer;
}
.drop a{
    display: block;
    color: white;
    text-decoration: none;
}
.drop .content{
    font-size: 50px;
    padding: 10px;
    display: none;
    position: absolute;
    background-color: #2b3369;
    min-width: 200px;

}
.drop:hover .content{
    display: block;

}
.drop:hover .button{
    background-color: #1c2144;

}
.drop a:hover{
    background-color: #1c2144;
}

.maincontent button{
    
    font-size: 40px;
    width :90%;
    text-align: center;
    color :bisque;
    background-color: #2b0d41;
    cursor: pointer;
}
.maincontent a{
    display: block;
    color: white;
    text-decoration: none;
}
.maincontent .subcontent{
    font-size: 50px;
    padding: 10px;
    
    position: absolute;
    background-color: #2b3369;
    min-width: 200px;
    display: none;

}
.maincontent:hover .subcontent{
    display: block;

}
.maincontent:hover .button{
    background-color: #1c2144;

}
.maincontent a:hover{
    background-color: #1c2144;
}

















.button{
    font-size: 30px;
    background-color: #430d4b;
}
.mainbody{
    margin-left: 0px;
    margin-right: 0px;
}
body{
    margin:0px;
    background-color: #2b3369;
    background-image:  url(img/background/s5dfda1uwcb91.webp);
}
header{
    
    width: 100%;
    text-align: center;
    




    
    font-family: DaFont;
    background-color: #210535;
    color: azure;
    border : 5px solid #210535;
    
}

.button{
    clear : both;
    font-size : 30px;
    color : azure;

}


.con{
    margin-left: 8px;

    float :left;
    padding-left: 4px;


    border : 5px solid;
    border-radius: 11px ;
    background-color: rgba(233, 238, 255,0.5);

    font-family: DaFont;
    font-size: 30px;

}
#first{
    margin-left: 3%;
}
.pic{
    background-color: rgba(255, 255, 255, 0.89);
    width: 97%;
    height: 97%;
}

@media only screen and (max-width:1470px){
    body{

        background-color: #2b3369;
        background-image:  url(img/background/s5dfda1uwcb91.webp);
    }
    header{
        
        width: 100%;
        text-align: center;
        font-family: DaFont;
        background-color: #210535;
        color: azure;
        border : 5px solid #210535;
        
    }
    
    .button{
        clear : both;
        font-size : 30px;
        color : azure;
    
    }
    
    
    .con{

    
        float :left;
        padding-left: 4px;
    
    
        border : 5px solid;
        border-radius: 11px ;
        background-color: rgba(233, 238, 255,0.5);
    
        font-family: DaFont;
        font-size: 20px;
        width: 30%;
        height: 30%;
    
    }
    #first{
        margin-left: 2%;
    }
    .pic{
        background-color: rgba(255, 255, 255, 0.89);
        width: 70%;
        height: 70%;
    }
}

@media only screen and (max-width:1023px) {
    header{
        
        width: 100%;
        text-align: center;
        font-family: DaFont;
        background-color: #210535;
        color: azure;
        border : 5px solid #210535;
        
    }
    
    .button{
        clear : both;
        font-size : 30px;
        color : azure;
    
    }
    
    
    .con{
        margin-left: 8px;
    
        float :left;
        padding-left: 4px;
    
    
        border : 5px solid;
        border-radius: 11px ;
        background-color: rgba(233, 238, 255,0.5);
    
        font-family: DaFont;
        font-size: 18px;
        width: 30%;
        height: 30%;
    
    }
    #first{
        margin-left: 10px;
    }
    .pic{
        background-color: rgba(255, 255, 255, 0.89);
        width: 90%;
        height: 90%;
    }
}
@media only screen and (max-width:900px) {
    header{
        margin-top: 0px;

        text-align: center;
        font-family: DaFont;
        background-color: #210535;
        color: azure;
        font-size:10px;
        border : 5px solid #210535;
        
    }
    
    .drop button{
        font-size:20px;

        color : azure;
    
    }
    .drop .content{
        font-size: 30px;
    }
    
    .con{
        margin-left: 8px;
    
        float :left;
        padding-left: 4px;
    
    
        border : 5px solid;
        border-radius: 11px ;
        background-color: rgba(233, 238, 255,0.5);
    
        font-family: DaFont;
        font-size: 15px;
        width: 30%;
        height: 30%;
    
    }
    #first{
        margin-left: 10px;
    }
    .pic{
        background-color: rgba(255, 255, 255, 0.89);
        width: 99%;
        height: 99%;
    }
}
@media only screen and (max-width:700px) {
    header{
        margin-top: 0px;

        text-align: center;
        font-family: DaFont;
        background-color: #210535;
        color: azure;
        font-size:10px;
        border : 5px solid #210535;
        
    }

    
    .drop button{
        font-size:20px;

        color : azure;
    
    }
    .drop .content{
        font-size: 30px;
    }
    
    .con{
        margin-left: 8px;
    
        float :left;
        padding-left: 4px;
    
    
        border : 5px solid;
        border-radius: 11px ;
        background-color: rgba(233, 238, 255,0.5);
    
        font-family: DaFont;
        font-size: 25px;
        width: 90%;
        height: 70%;
    
    }
    #first{
        margin-left: 3%;
    }
    .pic{
        background-color: rgba(255, 255, 255, 0.89);
        width: 90%;
        height: 90%;
    }
}
@media only screen and (max-width:405px) {
    header{
        margin-top: 0px;

        text-align: center;
        font-family: DaFont;
        background-color: #210535;
        color: azure;
        font-size:10px;
        border : 5px solid #210535;
        
    }
   header .drop{
    font-size: 20px;
   }
    .drop button{
        font-size:15px;

        color : azure;
    
    }
    .drop .content{
        font-size: 25px;
    }
    
    .con{
        margin-left: 8px;
    
        float :left;
        padding-left: 4px;
    
    
        border : 5px solid;
        border-radius: 11px ;
        background-color: rgba(233, 238, 255,0.5);
    
        font-family: DaFont;
        font-size: 15px;
        width: 90%;
        height: 70%;
    
    }
    #first{
        margin-left: 10px;
    }
    .pic{
        background-color: rgba(255, 255, 255, 0.89);
        width: 90%;
        height: 90%;
    }
}
