@font-face {
    font-family:DaFont ;
    src: url(SFUIDisplay-Regular.otf);
}
.bgmain{
    float:left;
}
.drop{
    text-align: center;
}
.drop button{
    
    font-size: 40px;
    width :90%;
    text-align: center;
    color :bisque;
    background-color: #2b0d41;
    cursor: pointer;
}

.text{
    margin-left:2%;
}
















.button{
    font-size: 30px;
    background-color: #2b3369;
}
.mainbody{
    margin-left: 0px;
    margin-right: 0px;
}
body{
    margin:0px;
    background-color: #2b3369;
    background-image:  url(img/background/s5dfda1uwcb91.webp);
}
header{
    
    width: 100%;
    text-align: center;
    




    
    font-family: DaFont;
    background-color: #210535;
    color: azure;
    border : 5px solid #210535;
    
}
 #funfact{
    font-size: 25;
}

.button{
    clear : both;
    font-size : 30px;
    color : azure;


}
.headline{
    border:none ;
    outline:none ;
    background-image:  linear-gradient(to left,#372376,#460c6f,#192258,#3f175b,#140950);
    cursor: pointer;
    position: relative;
    z-index: 0;

}

/*.headline::before{
    content: "";
    background: linear-gradient(45deg,#afc9ff,#c7d8ff,#fff4f3,#ffe5cf, #ffd9b2,#ffc78e,#ffa651);*/
   


.con{
    margin-left: 8px;

    float :left;
    padding-left: 4px;


    border : 5px solid;
    border-radius: 11px ;
    background-color: rgba(233, 238, 255,0.5);

    font-family: DaFont;
    font-size: 30px;

}
.con p u{
    font-size: 35px;
    font-weight: bold;
}
#first{
    margin-left: 6%;
}
.pic{
    background-color: rgba(255, 255, 255, 0.89);
    width: 97%;
    height: 97%;
}

.conbig{
    margin-left: 0.5%;

    float :left;
    padding-left: 4px;


    border : 5px solid;
    border-radius: 11px ;
    background-color: rgba(233, 238, 255,0.5);

    font-family: DaFont;
    font-size: 30px;
    width: 29.5%;
    p u{
        font-weight: bold;
        font-size: 35px;
    }
}
    



@media only screen and (max-width:1470px){
    body{

        background-color: #2b3369;
        background-image:  url(img/background/s5dfda1uwcb91.webp);
    }
    header{
        
        width: 100%;
        text-align: center;
        font-family: DaFont;
        background-color: #210535;
        color: azure;
        border : 5px solid #210535;

        top:0;
        
    }
    .conbig{
        font-size: 20px;
    }
    
    .button{
        clear : both;
        font-size : 30px;
        color : azure;
    
    }
    
    
    .con{

    
        float :left;
        padding-left: 4px;
    
    
        border : 5px solid;
        border-radius: 11px ;
        background-color: rgba(233, 238, 255,0.5);
    
        font-family: DaFont;
        font-size: 20px;
        width: 30%;
        height: 30%;
    
    }
    #first{
        margin-left: 2%;
    }
    .pic{
        background-color: rgba(255, 255, 255, 0.89);
        width: 99%;
        height: 99%;
    }
}

@media only screen and (max-width:1024px) {
    header{
        
        width: 100%;
        text-align: center;
        font-family: DaFont;
        background-color: #210535;
        color: azure;
        border : 5px solid #210535;
        
    }
    
    .button{
        clear : both;
        font-size : 30px;
        color : azure;
    
    }
    
    
    .con{
        margin-left: 8px;
    
        float :left;
        padding-left: 4px;
    
    
        border : 5px solid;
        border-radius: 11px ;
        background-color: rgba(233, 238, 255,0.5);
    
        font-family: DaFont;
        font-size: 18px;
        width: 30%;
        height: 30%;
    
    }
    #first{
        margin-left: 2.5%;
    }
    .pic{
        background-color: rgba(255, 255, 255, 0.89);
        width: 90%;
        height: 90%;
    }
}
@media only screen and (max-width:900px) {
    .conbig{
        font-size: 17px;
    }
    header{
        margin-top: 0px;

        text-align: center;
        font-family: DaFont;
        background-color: #210535;
        color: azure;
        font-size:10px;
        border : 5px solid #210535;
        
    }
    
    .drop button{
        font-size:20px;

        color : azure;
    
    }
    .drop .content{
        font-size: 30px;
    }
    
    .con{
        margin-left: 8px;
    
        float :left;
        padding-left: 4px;
    
    
        border : 5px solid;
        border-radius: 11px ;
        background-color: rgba(233, 238, 255,0.5);
    
        font-family: DaFont;
        font-size: 15px;
        width: 30%;
        height: 30%;
    
    }
    #first{
        margin-left: 10px;
    }
    .funfact{
        font-size: 14px;
    }
    .pic{
        background-color: rgba(255, 255, 255, 0.89);
        width: 99%;
        height: 99%;
    }
}

@media only screen and (max-width:700px) {
    header{
        margin-top: 0px;

        text-align: center;
        font-family: DaFont;
        background-color: #210535;
        color: azure;
        font-size:10px;
        border : 5px solid #210535;
        
    }
    .pic{
        width: 90%;
        height: 90%;
    }
    .funfact{
        
    }
    header .drop{
    font-size: 20px;
   }
    .drop button{
        font-size:15px;

        color : azure;
    
    }
    .drop .content{
        font-size: 25px;
    }
    
    .con{
        margin-left: 8px;
        
        float :left;
        padding-left: 4px;
    
    
        border : 5px solid;
        border-radius: 11px ;
        background-color: rgba(233, 238, 255,0.5);
    
        font-family: DaFont;
        font-size: 15px;

    
    }
    p u{
        font-size: 20px;
    }
    .conbig{
        width: fit-content;
        margin-left: 20px;
        
        float :left;
        padding-left: 4%;
        padding-right: 4%;
    
    
        border : 5px solid;
        border-radius: 11px ;
        background-color: rgba(233, 238, 255,0.5);
    
        font-family: DaFont;
        font-size: 25px;
        
        
    }
    #bigdic{
        width: 100%;
        height: 100%;
        padding-right: 0;
    }

    #big{
        width: 100%;
        height: max-content;
    }
    
    #first{
        margin-left: 10px;
    }
}
